<div class="container">
    <footer class="footer">
        <small> 
            copyright &copy; <a href="#">The complete ruby course</a>
            by <a href="#">Gourav thakur</a>
        </small>
        <nav>
            <ul>
                <li> <%= "About" %></li>
            </ul>
        </nav>
    </footer>
</div>